/* App.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  width: 100vw;
  color: #f2f2f2;
  background-color: lightslategrey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 35%;
}

button {
  height: 30px;
  font-size: 15px;
  width: 100px;
  background-color: #1601ff;
  color: antiquewhite;
  border-radius: 25px;
  margin: 10px;
}

.tooltip-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 5px;
  line-height: 40px;
  font-size: 14px;
  position: relative;
  margin-top: 35%;
}

/* Position-specific styles */
.tooltip-top .tooltip-text {
  bottom: 50px;
}

.tooltip-right .tooltip-text {
  left: 120px;
}

.tooltip-bottom .tooltip-text {
  top: 50px;
}

.tooltip-left .tooltip-text {
  right: 120px;
}

.tooltip-text {
  position: absolute;
  background-color: #fff;
  color: black;
  padding: 10px 15px;
  border-radius: 25px;
}

.tooltip-top .tooltip-text::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-bottom .tooltip-text::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  top: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-left .tooltip-text::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  right: -15px;
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
}

.tooltip-right .tooltip-text::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background-color: white;
  left: 0px;
  top: 50%;
  transform: translateX(-50%) rotate(45deg);
}